<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) {%>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% }%>   
        <div class="signin-container">
        <form class="signin-form" action="/login" method="POST">
            <h2>Sign In</h2>
            <div class="form-group">
                <i class="fas fa-user"></i>
                <input type="email" name="email" id="email" value="<%= oldInput.email %>" placeholder="Email">
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="password" value="<%= oldInput.password %>" placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="signin-button" type="submit">
                <i class="fas fa-sign-in-alt"></i> Login
            </button>
        </form>
    </div>
    </main>
<%- include('../includes/end.ejs') %>